{{ range (where site.RegularPages "Section" "about") }}
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">{{ .Params.title }}</span>
          <span class="heading-sec__sub">
            {{ .Params.summary }}
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Get to know me!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                {{ .Content | replaceRE "<p>" "<p class=\"about__content-details-para\">" | safeHTML }}
              </p>
              </p>
            </div>
            <a href="./#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contact</a
            >
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">My Skills</h3>
            <div class="skills">
              {{ range .Params.skills}}
                <div class="skills__skill">{{ . }}</div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
{{ end }}