<footer class="main-footer">
    <div class="main-container">
    <div class="main-footer__upper">
        <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
            <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="#">
            <img
                class="main-footer__icon"
                src="/png/linkedin-ico.png"
                alt="icon"
            />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
            <img
                class="main-footer__icon"
                src="/png/github-ico.png"
                alt="icon"
            />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
            <img
                class="main-footer__icon"
                src="/png/twitter-ico.png"
                alt="icon"
            />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
            <img
                class="main-footer__icon"
                src="/png/yt-ico.png"
                alt="icon"
            />
            </a>
            <a target="_blank" rel="noreferrer" href="#">
            <img
                class="main-footer__icon main-footer__icon--mr-none"
                src="/png/insta-ico.png"
                alt="icon"
            />
            </a>
        </div>
        </div>
        <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">{{ site.Params.yourName }}</h4>
        <p class="main-footer__short-desc">
            {{ site.Params.footer.desc }}
        </p>
        </div>
    </div>

    <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
    <div class="main-footer__lower">
        &copy; Copyright 2021. Made by
        <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
        >Ram Maheshwari</a
        >
    </div>
    </div>
</footer>
