{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}

      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="/png/john-doe.png"
              alt="Ram Maheshwari Logo Image"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">{{ site.Params.yourName }}</span> 
        </div>
        <div class="header__main">
          <ul class="header__links">
            {{ range . }}
              {{ if .URL }}
                <li class="header__link-wrapper">
                  <a href="{{ .URL }}" class="header__link"> {{ .Name }} </a>
                </li>

              {{ else }}
                <li class="header__link-wrapper">
                  <a href="/#{{ lower .Name }}" class="header__link"> {{ .Name }} </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="/svg/ham-menu.svg"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="/svg/ham-menu-close.svg"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            {{ range . }}
              <li class="header__sm-menu-link">
                <a href="{{ .URL }}"> {{ .Name }} </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
{{- end }}

